# November 11th
# Data vizualization with Matplotlib and Seaborn libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('./Data/tmp.txt', sep = ';', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,20046,1957,,,,,,,,,,,-24.4,-26.1
1,20046,1958,-21.1,-25.4,-27.4,-19.9,-9.5,-1.8,1.0,-0.5,-4.0,-11.6,-19.3,-27.0
2,20046,1959,-28.6,-26.3,-23.8,-16.6,-8.6,-0.9,1.1,0.8,-1.4,-5.2,-10.1,-17.9
3,20046,1960,-205,-32.9,-27.2,-19.9,-7.3,-0.6,1.4,-0.1,-2.2,-12.4,-21.9,-22.4
4,20046,1961,-27.3,-27.4,-19.4,-16.3,-11.8,-0.8,1.5,1.5,-3.3,-9.6,-19.9,-27.3