# November 11th
# Data vizualization with Matplotlib and Seaborn libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./Data/tmp.txt', sep = ';', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,20046,1957,,,,,,,,,,,-24.4,-26.1
1,20046,1958,-21.1,-25.4,-27.4,-19.9,-9.5,-1.8,1.0,-0.5,-4.0,-11.6,-19.3,-27.0
2,20046,1959,-28.6,-26.3,-23.8,-16.6,-8.6,-0.9,1.1,0.8,-1.4,-5.2,-10.1,-17.9
3,20046,1960,-205,-32.9,-27.2,-19.9,-7.3,-0.6,1.4,-0.1,-2.2,-12.4,-21.9,-22.4
4,20046,1961,-27.3,-27.4,-19.4,-16.3,-11.8,-0.8,1.5,1.5,-3.3,-9.6,-19.9,-27.3

In [4]:
df.columns = ['station_id', 'year', 'jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
df.head()

,station_id,year,jan,feb,mar,apr,may,june,july,aug,sept,oct,nov,dec
0,20046,1957,,,,,,,,,,,-24.4,-26.1
1,20046,1958,-21.1,-25.4,-27.4,-19.9,-9.5,-1.8,1.0,-0.5,-4.0,-11.6,-19.3,-27.0
2,20046,1959,-28.6,-26.3,-23.8,-16.6,-8.6,-0.9,1.1,0.8,-1.4,-5.2,-10.1,-17.9
3,20046,1960,-205,-32.9,-27.2,-19.9,-7.3,-0.6,1.4,-0.1,-2.2,-12.4,-21.9,-22.4
4,20046,1961,-27.3,-27.4,-19.4,-16.3,-11.8,-0.8,1.5,1.5,-3.3,-9.6,-19.9,-27.3

In [5]:
df.shape

(51495, 14)

In [6]:
df.isnull().sum()

station_id    0
year          0
jan           0
feb           0
mar           0
apr           0
may           0
june          0
july          0
aug           0
sept          0
oct           0
nov           0
dec           0
dtype: int64

In [8]:
df.dtypes

station_id     int64
year           int64
jan           object
feb           object
mar           object
apr           object
may           object
june          object
july          object
aug           object
sept          object
oct           object
nov           object
dec           object
dtype: object

In [9]:
months = df.columns[2:]

In [10]:
df[months] = df[months].apply(pd.to_numeric, errors='coerce')

In [11]:
df.head()

,station_id,year,jan,feb,mar,apr,may,june,july,aug,sept,oct,nov,dec
0,20046,1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-24.4,-26.1
1,20046,1958,-21.1,-25.4,-27.4,-19.9,-9.5,-1.8,1.0,-0.5,-4.0,-11.6,-19.3,-27.0
2,20046,1959,-28.6,-26.3,-23.8,-16.6,-8.6,-0.9,1.1,0.8,-1.4,-5.2,-10.1,-17.9
3,20046,1960,-205.0,-32.9,-27.2,-19.9,-7.3,-0.6,1.4,-0.1,-2.2,-12.4,-21.9,-22.4
4,20046,1961,-27.3,-27.4,-19.4,-16.3,-11.8,-0.8,1.5,1.5,-3.3,-9.6,-19.9,-27.3

In [12]:
df.isnull().sum()

station_id       0
year             0
jan           3597
feb           3513
mar           3452
apr           3448
may           3511
june          3541
july          3637
aug           3646
sept          3603
oct           3618
nov           3674
dec           3860
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45423 entries, 1 to 51494
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station_id  45423 non-null  int64
 1   year        45423 non-null  int64
 2   jan         45423 non-null  float64
 3   feb         45423 non-null  float64
 4   mar         45423 non-null  float64
 5   apr         45423 non-null  float64
 6   may         45423 non-null  float64
 7   june        45423 non-null  float64
 8   july        45423 non-null  float64
 9   aug         45423 non-null  float64
 10  sept        45423 non-null  float64
 11  oct         45423 non-null  float64
 12  nov         45423 non-null  float64
 13  dec         45423 non-null  float64
dtypes: float64(12), int64(2)
memory usage: 5.2 MB

In [15]:
df.head()

,station_id,year,jan,feb,mar,apr,may,june,july,aug,sept,oct,nov,dec
1,20046,1958,-21.1,-25.4,-27.4,-19.9,-9.5,-1.8,1.0,-0.5,-4.0,-11.6,-19.3,-27.0
2,20046,1959,-28.6,-26.3,-23.8,-16.6,-8.6,-0.9,1.1,0.8,-1.4,-5.2,-10.1,-17.9
3,20046,1960,-205.0,-32.9,-27.2,-19.9,-7.3,-0.6,1.4,-0.1,-2.2,-12.4,-21.9,-22.4
4,20046,1961,-27.3,-27.4,-19.4,-16.3,-11.8,-0.8,1.5,1.5,-3.3,-9.6,-19.9,-27.3
5,20046,1962,-30.1,-29.9,-24.4,-20.1,-12.3,-1.6,0.5,-0.3,-4.1,-14.0,-11.2,-27.2

In [17]:
df['station_id'].unique()

array([20046, 20069, 20087, 20107, 20289, 20292, 20476, 20667, 20674,
       20744, 20891, 20946, 20982, 21432, 21611, 21647, 21802, 21824,
       21908, 21921, 21931, 21946, 21982, 22003, 22019, 22028, 22095,
       22101, 22113, 22140, 22165, 22204, 22217, 22235, 22249, 22271,
       22292, 22324, 22355, 22408, 22422, 22438, 22471, 22520, 22550,
       22583, 22602, 22619, 22641, 22676, 22768, 22802, 22820, 22837,
       22845, 22854, 22887, 22892, 22907, 22981, 23022, 23032, 23058,
       23074, 23114, 23205, 23219, 23220, 23242, 23256, 23274, 23324,
       23330, 23331, 23345, 23365, 23383, 23405, 23412, 23418, 23445,
       23463, 23472, 23514, 23527, 23552, 23589, 23631, 23656, 23662,
       23678, 23707, 23711, 23724, 23734, 23804, 23867, 23884, 23891,
       23904, 23914, 23921, 23933, 23946, 23955, 23966, 23986, 24076,
       24105, 24125, 24136, 24143, 24266, 24329, 24343, 24371, 24382,
       24507, 24538, 24606, 24641, 24643, 24661, 24671, 24679, 24688,
       24713, 24726, 24738, 24763, 24790, 24802, 24817, 24908, 24923,
       24933, 24944, 24951, 24959, 24966, 24967, 24982, 25034, 25042,
       25062, 25138, 25173, 25206, 25248, 25282, 25325, 25356, 25372,
       25378, 25399, 25400, 25428, 25503, 25538, 25551, 25563, 25594,
       25621, 25656, 25677, 25703, 25705, 25744, 25767, 25777, 25912,
       25913, 25916, 25922, 25927, 25932, 25954, 25956, 26063, 26069,
       26094, 26157, 26258, 26275, 26298, 26359, 26477, 26479, 26499,
       26614, 26701, 26702, 26706, 26781, 26898, 26976, 26997, 27008,
       27037, 27051, 27066, 27083, 27164, 27208, 27225, 27277, 27296,
       27333, 27385, 27425, 27459, 27485, 27509, 27595, 27612, 27625,
       27648, 27665, 27675, 27707, 27730, 27756, 27814, 27823, 27857,
       27872, 27947, 27962, 27995, 28009, 28064, 28138, 28144, 28224,
       28255, 28275, 28312, 28367, 28402, 28411, 28418, 28419, 28434,
       28440, 28445, 28493, 28506, 28537, 28552, 28561, 28573, 28624,
       28630, 28661, 28666, 28698, 28704, 28719, 28722, 28748, 28802,
       28823, 28825, 28833, 28895, 29023, 29111, 29154, 29231, 29263,
       29282, 29313, 29328, 29348, 29379, 29393, 29418, 29430, 29467,
       29539, 29541, 29557, 29570, 29580, 29594, 29605, 29612, 29638,
       29645, 29664, 29698, 29752, 29789, 29822, 29838, 29849, 29858,
       29862, 29866, 29915, 29923, 29939, 29974, 29998, 30028, 30054,
       30069, 30089, 30209, 30219, 30230, 30252, 30253, 30309, 30328,
       30337, 30356, 30372, 30385, 30393, 30433, 30437, 30469, 30471,
       30484, 30493, 30504, 30521, 30536, 30554, 30555, 30565, 30612,
       30627, 30632, 30635, 30636, 30650, 30673, 30692, 30695, 30703,
       30710, 30716, 30727, 30745, 30758, 30777, 30811, 30815, 30822,
       30823, 30825, 30844, 30859, 30879, 30915, 30925, 30935, 30949,
       30954, 30965, 31004, 31026, 31062, 31088, 31092, 31102, 31137,
       31152, 31168, 31174, 31235, 31253, 31285, 31329, 31362, 31369,
       31371, 31388, 31416, 31436, 31439, 31443, 31459, 31478, 31510,
       31532, 31538, 31562, 31586, 31594, 31677, 31707, 31725, 31733,
       31735, 31770, 31788, 31829, 31845, 31873, 31895, 31909, 31915,
       31931, 31959, 31960, 31961, 31969, 31989, 32014, 32027, 32053,
       32061, 32071, 32076, 32088, 32098, 32099, 32121, 32145, 32149,
       32150, 32165, 32174, 32213, 32246, 32252, 32287, 32363, 32389,
       32411, 32447, 32477, 32509, 32539, 32547, 32562, 32583, 32586,
       32618, 33166, 34003, 34009, 34026, 34059, 34110, 34123, 34139,
       34152, 34163, 34172, 34186, 34202, 34240, 34247, 34289, 34321,
       34356, 34391, 34432, 34476, 34561, 34579, 34646, 34720, 34730,
       34740, 34759, 34824, 34861, 34866, 34880, 34927, 34949, 34984,
       35007, 35011, 35026, 35041, 35121, 35127, 35233, 36034, 36038,
       36045, 36055, 36064, 36096, 36099, 36103, 36229, 36259, 36278,
       36307, 36442, 37001, 37018, 37031, 37054, 37061, 37075, 37089,
       37099, 37107, 37112, 37123, 37126, 37196, 37228, 37235, 37244,
       37461, 37470, 37471, 37472, 37663])

In [19]:
station1 = df[df['station_id'] == 20046]['feb']
station1

1    -25.4
2    -26.3
3    -32.9
4    -27.4
5    -29.9
6    -33.5
7    -21.2
8    -25.8
9    -27.3
10   -32.2
11   -23.6
12   -20.6
13   -25.2
14   -15.2
15   -26.1
16   -22.5
17   -24.1
18   -22.4
19   -20.4
20   -28.4
21   -30.6
22   -34.6
23   -23.1
24   -24.9
25   -29.0
26   -27.0
27   -15.6
28   -20.0
29   -27.4
30   -29.0
31   -20.4
32   -27.7
33   -18.0
34   -25.4
35   -26.2
38   -21.6
39   -25.9
40   -26.6
43   -21.4
48   -13.4
49   -18.4
52   -21.2
55    -9.5
58   -21.1
Name: feb, dtype: float64